.main {
  margin: 0 15rem 0 15rem;
}

@media only screen and (max-width: 1024px) {
  .main {
    margin: 0 5rem 0 5rem;
  }
}

@media only screen and (max-width: 580px) {
  .main {
    margin: 0 2rem 0 2rem;
  }
}
