.countries {
  margin-top: 5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}
@media only screen and (max-width: 1024px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 580px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}
.countries__box {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: var(--light-mode-white);
}
.countries__box:hover {
  cursor: pointer;
}

.countries__img {
  height: 20rem;
}

.countries__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.countries__info {
  padding: 2.6rem 2.8rem;
}
.countries__info h3 {
  margin-bottom: 2.6rem;
}
.countries__info p {
  margin-bottom: 0.5rem;
}
.countries__info span {
  margin-bottom: 0.5rem;
  opacity: 0.5;
}
