@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #f2f2f2;
}
