@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");
:root {
  /* light mode */
  --light-body-background: #f2f2f2;
  --light-mode-white: #fff;
  --light-mode-text: hsl(200, 15%, 8%);

  /* dark mode */
  --dark-body-background: hsl(207, 26%, 17%);
  --dark-mode-black: hsl(209, 23%, 22%);

  /* shadow */
  --shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--light-body-background);
  color: var(--light-mode-text);
}
