.header {
  padding: 2.2rem 0rem;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 15rem 0rem 15rem;
}

@media only screen and (max-width: 375px) {
  .header__container h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header__container {
    margin: 0 5rem 0 5rem;
  }
}

@media only screen and (max-width: 580px) {
  .header__container {
    margin: 0 2rem 0 2rem;
  }
}

.header__container span:hover {
  cursor: pointer;
}

.header__icon {
  transform: translateY(3px);
}
